body{
font-family: "Segoe UI", sans-serif;
background:#f5f7fb;
overflow-x: hidden;
margin-top: 90px;
}

.navbar{
background:#4c1d95;
padding:12px 20px;
}

.navbar-brand img{
height:35px;
filter: brightness(0) invert(1);
}

.nav-link{
color:white ;
font-weight:500;
margin-right:10px;
cursor: pointer;
}
.navbar .nav-link{
color:white ;
}

.nav-link:hover{
color:#e9d5ff ;
}
.navbar .dropdown-toggle.show{
color:white;
}
.navbar .dropdown-toggle{
color:white ;
}

.profile-icon{
font-size:22px;
color:white;
cursor:pointer;
}

.login-btn{
background:white;
color:#4c1d95;
font-weight:600;
border-radius:6px;
padding:6px 16px;
border:none;
}

.logout-btn{
background:#ef4444;
color:white;
border:none;
border-radius:6px;
padding:6px 16px;
}
.navbar-toggler{
border-color:#ffffff;
}
.login-section{
min-height:100vh;
display:flex;
align-items:center;
justify-content:center;
background:#f4f6fb;
font-family:Segoe UI;
}

.login-container{
display:grid;
grid-template-columns:1fr 1fr;
width:900px;
background:white;
border-radius:12px;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
overflow:hidden;
}


.login-info{
background:linear-gradient(135deg,#6c3df4,#9b5cff);
color:white;
padding:50px;
}

.feature-list{
list-style:none;
padding:0;
margin-top:20px;
}

.feature-list li{
margin-bottom:12px;
display:flex;
gap:10px;
align-items:center;
}


.login-form{
padding:40px;
}

.input-box{
position:relative;
margin-bottom:20px;
}

.input-box i{
position:absolute;
left:10px;
top:12px;
color:#777;
}

.input-box input{
width:100%;
padding:12px 12px 12px 35px;
border:1px solid #ccc;
border-radius:8px;
outline:none;
}

.input-box label{
position:absolute;
left:35px;
top:12px;
background:white;
padding:0 5px;
font-size:14px;
color:#777;
transition:0.3s;
}

.input-box input:focus + label,
.input-box input:valid + label{
top:-8px;
font-size:12px;
color:#6c3df4;
}

.password-box .toggle-pass{
position:absolute;
right:10px;
top:10px;
cursor:pointer;
}

.login-options{
display:flex;
justify-content:space-between;
font-size:14px;
margin-bottom:20px;
}

.login-btn{
width:100%;
padding:12px;
background:#6c3df4;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

.otp-btn{
width:100%;
padding:12px;
border:1px solid #6c3df4;
background:white;
color:#6c3df4;
border-radius:8px;
margin-top:10px;
text-decoration: none;
margin-left: 100px;
}
.otp-btn:hover{
    background-color: #1046c5;
    color: white;
}

.divider{
text-align:center;
margin:15px 0;
}

.social-login{
text-align:center;
}

.social-icons i{
font-size:20px;
margin:10px;
cursor:pointer;
}

.signup-link{
text-align:center;
margin-top:10px;
}

@media(max-width:768px){

.login-container{
grid-template-columns:1fr;
width:95%;
}

.login-info{
display:none;
}

}



.footer{

background:#111827;
color:white;
padding:80px 0 30px;
overflow-x: hidden;

}

.footer-img{
width:160px;
margin-bottom:15px;
filter: brightness(0) invert(1);

}

.footer-text{
color:#9ca3af;
margin-bottom:20px;
}

.social-icons a{

display:inline-flex;
align-items:center;
justify-content:center;

width:40px;
height:40px;

background:#1f2937;
border-radius:50%;

margin-right:10px;
color:white;

transition:0.3s;

}

.social-icons a:hover{
background:#1046c5;
transform:translateY(-4px);
}

.footer h5{
margin-bottom:20px;
}

.footer-links{
list-style:none;
padding:0;
}

.footer-links li{
margin-bottom:10px;
}

.footer-links a{
color:#9ca3af;
text-decoration:none;
}

.footer-links a:hover{
color:white;
}

.copyright{
text-align:center;
margin-top:20px;
color:#9ca3af;
}
@media(max-width:992px){

.footer-logo{
margin-bottom:40px;
}

}

@media(max-width:576px){

.footer{
text-align:center;
padding-left:15px;
padding-right:15px;
}

.social-icons{
justify-content:center;
}

.footer-links{
margin-bottom:30px;
}

}

@media(max-width:380px){

.footer-img{
width:140px;

}
.footer{
text-align:center;
padding-left:15px;
padding-right:15px;
}

}